---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Project from '../components/Project.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { getProjects } from '../utils/projects';

const projects = await getProjects();

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Hi there! I am Yash Mittal aka <em>techsavvyash</em>. I am a passionate software developer currently in the senior year
				of my undergraduate studies at <a href="https://www.nitkkr.ac.in" target="_blank"> National Institute of Technology, Kuruskhetra</a>.
				I have been working in the GovTech domain for over an year with <a href="https://www.samagragovernance.in" target="_blank">Samagra Governance</a>,
				building Digital Public Goods (DPGs) and population scale apps for the citizens of India.
			</p>
			<div class="mt-12" /> 
			<h2>Projects</h2>
			<div class="grid grid-cols-1 gap-4 md:grid-cols-1">
				{projects.map(project => <Project {project} />)}
			</div>
		</main>
		<div class="mt-12" />
		<Footer />
	</body>
</html>


<style>
	h2 {
		color: #fff;
	}
	a {
		color: #636363;
		text-decoration: underline;
	}
</style>