---
import Social from "./Social.astro";
---

<div class="prose"> 
	<hr />
	<footer class="flex justify-between p-0 mt-auto">
		<span class="pl-0">Yash Mittal</span>
		<div class="flex gap-4"> 
			<a href="mailto:techsavvyash@gmail.com" target="_blank">
				<div class="i-tabler:mail-filled" title="Email" />
			</a>
			<Social platform="github" username="techsavvyash" logo="i-mdi:github" /> 
			<Social platform="discord" username="c6ngHuUAHa" logo="i-mdi:discord" /> 
			<Social platform="twitter" username="techsavvyash_" logo="i-tabler:brand-x" />
  		<Social platform="linkedin" username="in/yash-mittal-446747136" logo="i-mdi:linkedin" /> 

		</div>
	</footer>
</div>

<style>
	a {
		color: #fff
	}
</style>