---
import type { Project } from "../utils/projects"
import HeaderLink from "./HeaderLink.astro"

type Props = {
  project: Project
}

const { project: { repo: name, description, link } } = Astro.props
---

<div class="flex flex-col">
  <HeaderLink href={link}>
    <span class="font-medium">{name}</span>
  </HeaderLink>
  <span class="pt-3">{description}</span>
</div>